body{
    background-color: red;
}

h1{
    font-size: 50px;
    color: white;
}

p{
    color: white;
    position: relative;
}

.nay{
    position: relative;
    left: 10px;
    top: 10px;
    background-color: purple;
}


.yay{
    position: relative;
    left: 10px;
    top: 10px;
    background-color: blue;
}